# *.keystore
# =============== #
# Unity generated #
# =============== #
**/[Ll]ibrary/
**/[Oo]bj/
**/[Pp]ackages/
**/[Tt]emp/
**/[Ll]ogs/

*.stackdump
*.unitypackage
*.unitypackage.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
*/[Ee]xported[Oo]bj/
*.vs
*.userprefs
*.pidb
*.suo
*.sln
*.unityproj
*.booproj
*.svd
*.tmp
*.user
*.csproj